@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Open+Sans&family=Roboto:ital,wght@0,300;1,400&display=swap');

:root{
    --primary-color: #4c1d95;
}
body {
    background-color: #c7d2fe;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
#nav-bar{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction: row;
    margin-top:0rem;
    margin-bottom: 4rem;
    background-color:var(--primary-color);
}

.nav-list{
    list-style-type: none;
    display:inline-flex;
    
}
.inline-item-list{
    display:inline-flex;
    
}
.link {
    text-decoration-line: none;
    color: white;
    list-style-type: none;
    padding:1rem 3rem;
    font-size:20px;
}

h1{
    margin:2rem;
    font-size:3rem;
    text-align: center;
}

/* index */
#main-para{
    margin:0rem 2rem 4rem 2rem;
    padding:2rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    
}
.input-flex{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
}
.angle{
    margin:1rem 2rem 0.4rem  2rem;
}
.angle-input{
    padding:0.5rem;
    /* margin:0.5rem 2rem; */
    font-size:1rem;
    border-radius:0.2rem;
    border-width:0px;
    width:40%;
    align-self: center;
}

#is-triangle-btn{
    margin:1rem 2rem 0.5rem  2rem;
    padding:1rem 0.2rem;;
    width:80%;
    color: white;
    background-color: var(--primary-color);
    border-width:0.1rem;
    border-color:white;
    border-style: dashed;
}

#output{
    padding: 0.5rem 2rem 2rem 2rem;
    font-size:1.5rem;
}

/* quiz */
.question-container{
    margin:2rem;
}
.radio-btn{
    margin:1rem 2rem 1rem 0rem;
}
#submit-answer-btn{
    margin:1rem;
    padding: 0.5rem 1rem;
    background-color:var(--primary-color);
    color:white;
    border-width:0rem;
}

/* hypotenuse */
.side-input{
    margin:2rem;
    padding:0.5rem;
}
#hypotenuse-btn{
    margin:1rem;
    padding: 0.5rem 1rem;
    background-color:var(--primary-color);
    color:white;
    border-width:0rem;
}
.triangle-sides-input{
    margin:2rem;
    padding:0.5rem;
}
#area-btn{
    margin:1rem;
    padding: 0.5rem 1rem;
    background-color:var(--primary-color);
    color:white;
    border-width:0rem;
}

